[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bfsl"]
	path = bfsl
	url = https://github.com/pasturm/bfsl
	shallow = true
	registered = true
